<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monica Spycher's Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row content" >
          <%- include("partials/navbar.ejs") %>
          <div class="col-sm-9">
              <h4><small>RECENT POSTS</small></h4>
              <%blogs.forEach(post => { %>
                  <hr>
                  <h2><%=post.title %></h2>
                  <h5><span class="glyphicon glyphicon-time"></span> Post by <%= post.author %>, <%=post.date%>.</h5>
                  <h5><span class="label label-danger">&#9825</span>  <span class="label label-primary">&#9787</span></h5><br>
                  <p><%=post.content%> </p>
                  <br><br>
                  <button class="btn btn-outline-secondary" type="button"><a href="/edit/ <%=post.id %>">Edit</a></button>
                  <form action="/delete/<%=post.id %>" method="POST">
                      <button class="btn btn-primary" type="submit" value="Delete">Delete</button>
                  </form>
              <% })%>
              <hr>
              <button class="btn btn-outline-secondary"><a href="/create">Add New Post</a></button>
          </div>
       </div>
    </div>
    <%- include("partials/footer.ejs") %>
